*{
    margin:0;
    padding: 0;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    margin-top: 20px;
}
body{
    background-color: #4D243D;
    text-align: center;
}
.container{
    height:70vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height:60vmin;
    
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center ;
    gap : 1.9vmin;
}
.box{
    height: 18vmin; 
    width: 18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 15px 0px rgba(212, 198, 198, 0.5);
    font-size :  9vmin;
    color: #B79492;
    background-color: #F4DBD8;
}
.reset{
    background-color: #D9E5D6;
    padding: 1rem;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 0.5rem rgba(255, 250, 250, 0.5);
}
.newbtn{
    background-color: #8DB580;
    padding: 10px;
    border:none;
    border-radius: 1rem;
    color: azure;
    box-shadow: 0 0 1rem rgba(228, 214, 214, 0.5);
}
#msg{
    color: antiquewhite;
    font-size: 5vmin;
}
.message{
    height:100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:4rem;
}
.hide{
    display: none;
}
.o-color{
    color:rgb(164, 46, 219);
}
.x-color{
    color: crimson;
}